#wrapper {margin:auto;width: 960px;}
#head {margin:10px;margin-bottom:0px;height:250px;}
#content{margin:0 10px;height:1000px;}
h1{font-family:"华文彩云";font-size:60px;font-style:normal;}
#image{height:200px;margin:50px 10px;}
